.wrapper {
    margin-top: 180px;
}

.wrapper h1 {
    font: 700 60px 'Montserrat';
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 60px;
}

.wrapper .item {
    width: 410px;
    height: 338px;
    background-color: #2B2A2D;
    border-radius: 24px;
    padding: 40px;
}

.item .item-image1 {
    background-image: url(./assets/icon-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.item .item-image2 {
    background-image: url(./assets/icon-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.item .item-image3 {
    background-image: url(./assets/icon-3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.item h3 {
    font: 700 26px 'Montserrat';
    color: #FFFFFF;
    margin-top: 36px;
}

.item p {
    font: 400 20px 'Montserrat';
    color: #CDCCCF;
    margin-top: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-logo .btn {
    font: 700 16px 'Montserrat';
    color: #FFFFFF;
    background: linear-gradient(246.65deg, #FAAB2B -55.2%, #DF5820 81.62%);
    border-radius: 8px;
    padding: 7px 12px;
    margin-top: 30px;
    cursor: pointer;
}