.wrapper {
    margin-top: 180px;
}

.wrapper h1 {
    font: 700 60px 'Montserrat';
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 48px;
}

.wrapper .wrapper-features {
    background-color: #2B2A2D;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 892px;
    height: 60px;
    align-items: center;
    margin-bottom: 80px;
}

.wrapper .wrapper-features .features {
    background-color: #2B2A2D;
    color: #FFFFFF;
    border-radius: 10px;
    font: 500 20px 'Montserrat';
    height: 48px;
    width: 211px;
    text-align: center;
}

.features p {
    margin-top: 10px;
}

.wrapper .wrapper-features .features:hover {
    background-color: #FFFFFF;
    color: #2B2A2D;

}

.editor-information {
    display: flex;
    justify-content: space-between;
}

.information {
    width: 540px;
    align-self: center;

}

.information h2{
    font: 700 48px 'Montserrat';
    color: #FFFFFF;
    margin-bottom: 36px;
}

.information p{
    font: 400 20px 'Montserrat';
    color: #FFFFFF;
    margin-bottom: 30px;

}

.editor-information .img1{
    background-image: url(./assets/image_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 660px;
    height: 520px;
    border-radius: 32px;
}
.editor-information .img2{
    background-image: url(./assets/image_2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 660px;
    height: 520px;
    border-radius: 32px;
}
